<!-- templates/base.html -->
{% load staticfiles %}
<html>
    <head>
        <title>Django Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="\stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class = "container">
            <header>
                <div class = "nav-left">
                    <h1><a href="/">Django Blog</a></h1>
                </div>
                <div class = "nav-right">
                    <a href="{% url 'post_new' %}">+ New Blog Post</a>
                </div>
            </header>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>