<!-- templates/post_detail.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
    </div>

    <p><a href = "{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
    <p><a href = "{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
    {% endblock content %}